button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.chat-box {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.chat-controls {
    display: flex;
    justify-content: space-between;
}