<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent - Language Buddy</title>
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'landing/images/space_dog.png' %}" alt="Space Dog Logo">
        </div>
        <div class="nav-links">
            <a href="/register/" class="btn-register">Register</a>
        </div>
    </nav>

    <!-- Password Reset Done -->
    <header>
        <h1>Password change is completed!</h1>
    </header>
    <div class="form-container">
        <a href="{% url 'login' %}" class="btn-login">Go to Login</a>
    </div>
</body>
</html>