<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset - Language Buddy</title>
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'landing/images/space_dog.png' %}" alt="Space Dog Logo">
        </div>
        <div class="nav-links">
            <a href="/register/" class="btn-register">Register</a>
        </div>
    </nav>

    <!-- Password Reset Form -->
    <header>
        <h1>Reset Your Password</h1>
    </header>
    <div class="form-container">
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.email.label_tag }} {{ form.email }}
            </div>
            <button type="submit" class="btn-login">Send Reset Link</button>
        </form>
    </div>
</body>
</html>
